body{
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.component{
    background-color: teal;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}