tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even){
    background-color: black;
    color: white;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){
    background-color: red;
}
